Scripts/
Lib/
*.idea
.env/
*.cfg
datas/
img/*
site_scrapped/
*.o
*.pyc
*.class
*.tmp
*.log
*.lock
.idea/
**/logs
*.jpg
*.csv
/couvertures/
/appslovers.py
/save_scrape - Copie.py
/save_scrape - Copie (2).py
/save_scrape - Copie (3).py
/scrape_books - Copie.py
/scrape_books - Copie (2).py
/scrape_books - Copie (3).py
/scrape_images - Copie.py
/scrape_infos - Copie.py
/scrape_infos - Copie (2).py
/scrape_infos - Copie (3).py
/scrape_infos - Copie (4).py
/test.py
/Utilisez les bases de Python pour l'analyse de marché - OpenClassrooms.pdf
